@import 'colors';

body {
    font-size: 1.8rem !important;
}

main {
    min-height:50rem;
}

.navbar{
    padding-top:1em;
    padding-bottom:1em;
    margin-bottom:0 !important;  
}

.navbar-nav li {
    display:flex !important;
    align-items:center;
}

.navbar-brand {
    font-size: 2em !important;
}

#logobilde {
    height: 2.5em;
}

#headerbilde {
    background: url(../images/happy.jpg) no-repeat;
    background-position: center 20%;
    min-height: 50rem;
    height: 80vh;
    background-size:cover;    
}

#headbilde h1 {
    position: relative;
    top: 5vh;
    left: 2vw;
}


footer {
    text-align:center;
}
