@import 'colors';

@mixin flex {
        display:flex !important;
        align-items:center;
        justify-content:space-around;
}

body {
    font-size: 1.8rem !important;
}

main {
    min-height:50rem;
}

nav * {
    color:$base !important;
}

nav *:hover {
    color:$accent !important;
}

.navbar{
    padding-top:1em;
    padding-bottom:1em;
    margin-bottom:0 !important;  

    .navbar-brand {
        font-size: 2em !important;
    }

    #logobilde {
        height: 200%;
        padding-right: 0.1em;
    }
}

#headerbilde {
    background: url(../images/happy.jpg) no-repeat;
    background-position: center 20%;
    min-height: 50rem;
    height: 80vh;
    background-size:cover;   
    
    h1 {
        position: relative;
        top: 5vh;
        left: 2vw;
    } 
}

#currencyfeed {
    max-width: 14rem;
    font-size: .8em;

    .panel-body {
        padding: 0;
    }

    .table {
        margin: 0;
    }

    td:empty{
        opacity:0;
    }

    td {
        opacity:1;
        transition: all ease-in-out 500ms;
    }
}

footer {
    text-align:center;
    color: $base;
}

.flex {
    @include flex;
}
#betalknapp{
    background-color:aquamarine;
}