
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/bankid/Css/bid.css">
    <link rel="stylesheet" type="text/css" href="~/bankid/Css/main.css">
    <environment names="Development">

    </environment>
    <environment names="Staging,Production">
        <!-- CDN links here see https://docs.asp.net/en/latest/client-side/bootstrap.html -->
    </environment>
</head>
<body>
    <div class="layout">
        @RenderBody()
    </div>
</body>
</html>
