@*@using Microsoft.AspNetCore.Identity
    @inject SignInManager<ApplicationUser> SigninManager
    @inject UserManager<ApplicationUser> UserManager*@


<section class="container">
    @*@if (SigninManager.IsSignedIn(User))
        {*@
    <h1>ADMINSIDE</h1>
    <h3>Velkommen @ViewData["Name"]</h3>

    @*}
        else
        {
            <h1>Not logged in</h1>
            <a href="/home">Go home</a>
        }*@
    <br />
</section>