@model GroupProject.ViewModels.Admin.RegisterViewModel

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js" integrity="sha256-uUVS/d3xM3l8YmucAkj1DeRt6U4Y+Xv3ePUgVVEVmVw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js" integrity="sha256-g1QKGxqsp+x5JkuN/JjHl96je2wztgS5Wo4h4c7gm9M=" crossorigin="anonymous"></script>

<section class="container">
    <form class="form-horizontal" action="" method="post" id="reg_form">
        <fieldset>
            <legend> Personlig informasjon </legend>
            <!-- Fornavn -->
            <div class="form-group">
                <label asp-for="firstName" class="col-md-4 control-label">Fornavn</label>
                <div class="col-md-6  inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input asp-for="firstName" class="form-control">
                    </div>
                    <span asp-validation-for="firstName" class="text-danger"></span>
                </div>
            </div>
            <!-- Etternavn -->
            <div class="form-group">
                <label asp-for="lastName" class="col-md-4 control-label">Etternavn</label>
                <div class="col-md-6  inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input asp-for="lastName" class="form-control">
                    </div>
                    <span asp-validation-for="lastName" class="text-danger"></span>
                </div>
            </div>
            <!-- Telefonnummer -->
            <div class="form-group">
                <label asp-for="phonenumber" class="col-md-4 control-label">Telefonnummer</label>
                <div class="col-md-6  inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input asp-for="phonenumber" maxlength="8" class="form-control">
                    </div>
                    <span asp-validation-for="phonenumber" class="text-danger"></span>
                </div>
            </div>
            <!-- Adresse -->
            <div class="form-group">
                <label asp-for="adresse" class="col-md-4 control-label">Adresse</label>
                <div class="col-md-6  inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input asp-for="adresse" class="form-control">
                    </div>
                    <span asp-validation-for="adresse" class="text-danger"></span>
                </div>
            </div>
            <!-- Postnummer -->
            <div class="form-group">
                <label asp-for="zipcode" class="col-md-4 control-label">Postnummer</label>
                <div class="col-md-6  inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input asp-for="zipcode" maxlength="4" class="form-control" id="zipCode">
                    </div>
                    <span asp-validation-for="zipcode" class="text-danger"></span>
                </div>
            </div>
            <!-- Poststed -->
            <div class="form-group">
                <label class="col-md-4 control-label">Poststed</label>
                <div class="col-md-6 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-hand-right"></i></span>
                        <input class="form-control" disabled="disabled" id="postal">
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Konto informasjon</legend>
            <!-- Epost -->
            <div class="form-group">
                <label asp-for="epost" class="col-md-4 control-label">E-postadresse</label>
                <div class="col-md-6  inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input asp-for="epost" class="form-control">
                    </div>
                    <span asp-validation-for="epost" class="text-danger"></span>
                </div>
            </div>
            <!-- Passord -->
            <div class="form-group">
                <label asp-for="password" class="col-md-4 control-label">Passord</label>
                <div class="col-md-6  inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input asp-for="password" class="form-control" />
                    </div>
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
            </div>
            <!-- Bekreft passord -->
            <div class="form-group">
                <label asp-for="confirmPassword" class="col-md-4 control-label">Bekreft passord</label>
                <div class="col-md-6  inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input asp-for="confirmPassword" class="form-control"/>
                    </div>
                    <span asp-validation-for="confirmPassword" class="text-danger"></span>
                </div>
            </div>
            <!-- Velg konto -->
            <div class="form-group">
                <label class="col-md-4 control-label">Kontotype</label>
                <div class="col-md-6 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select asp-for="kontoType" class="form-control">
                            <option value="">Vennligst velg type konto</option>
                            @*@foreach (var konto in ViewBag.kontoNavn)
                            {
                                <option value="@konto.">@konto.kontoType (@konto.kontoNr.Insert(4, " ").Insert(7, " ")) @konto.saldo kr</option>
                            }*@
                        </select>
                    </div>
                </div>
            </div>
            <!-- Registrer ny bruker -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-success">Registrer ny bruker<span class="glyphicon glyphicon-send"></span>
                        @*@if (GroupProject.ViewModels.Admin.RegisterViewModel == 0){
                        @:Legg til 

                    }*@
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</section>

<script>
    $("#zipCode").keyup(function () {
        var zipCode = $("#zipCode");
        getPostal(zipCode.val());
    });

    function getPostal(zipcode) {
        var bringUrl = "https://api.bring.com/shippingguide/api/postalCode.json?clientUrl=www.acos-sparebank.no&country=NO&pnr=";
        var postal = $("#postal");
        var request = $.ajax({
            type: "GET",
            url: bringUrl + zipcode
        });
        request.done(function (response) {
            postal.val(response.result);
        });
        request.fail(function (
            jqXHR,
            textStatus) {
            postal.val("Kunne ikke hente poststed");
        });
    }
</script>
