@model GroupProject.ViewModels.Admin.RegisterKontoViewModel

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js" integrity="sha256-uUVS/d3xM3l8YmucAkj1DeRt6U4Y+Xv3ePUgVVEVmVw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js" integrity="sha256-g1QKGxqsp+x5JkuN/JjHl96je2wztgS5Wo4h4c7gm9M=" crossorigin="anonymous"></script>

<section class="container">
    @if (ViewBag.success != null && ViewBag.success == true)
    {
        <p class="bg-success">Kontoen er registrert</p>
    }
    else if( ViewBag.success != null )
    {
        <p class="bg-danger">Feil i registrering prøv igjen</p>
    }

    <form class="form-horizontal" asp-controller="Admin" asp-action="RegistrerNyKonto" method="post" id="reg_form">
        <fieldset>
            <legend> Legg til konto </legend>
            <!--Kontonr-->
            <div class="form-group">
                <label asp-for="kontoNr" class="col-md-4 control-label">Konto nummer</label>
                <div class="col-md-6  inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input asp-for="kontoNr" maxlength="11" class="form-control">
                    </div>
                    <span asp-validation-for="kontoNr" class="text-danger"></span>
                </div>
            </div>
            <!-- Velg kontotype -->
            <div class="form-group">
                <label class="col-md-4 control-label">Kontotype</label>
                <div class="col-md-6 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select asp-for="kontoType" class="form-control">
                            <option value="">Vennligst velg type konto</option>
                            @*Løkke med en single variable (se i ViewModel)*@
                            @foreach (var konto in ViewBag.kontoNavn)
                            {
                                @*@konto. => @konto.somevalue*@
                                <option value="@konto.">@konto.kontoType</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <!-- Registrer ny konto -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-success">Registrer ny konto<span class="glyphicon glyphicon-send"></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</section>
