html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 10px;
}

header,
section {
	position: absolute;
}

header {
	left: 0;
	top: 0;
	height: 4em;
	min-width:100%;
}

section {
	left: 0;
	right: 0;
	top: 4em;
	bottom: 0;
	min-width:100%;
	> div {
		min-width: 100%;
	}
}
