
@using GroupProject.Models
@using GroupProject.ViewModels
@model GroupProject.ViewModels.User.PaymentViewModel

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js" integrity="sha256-4PIvl58L9q7iwjT654TQJM+C/acEyoG738iL8B8nhXg=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/locale/nb.js" integrity="sha256-bBhNwlhUe+cu0QF9FOQsYP6ToTgNAGnVnPX+jpEdfDM=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js" integrity="sha256-I8vGZkA2jL0PptxyJBvewDVqNXcgIhcgeqi+GD/aw34=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" integrity="sha256-IihK1cRp3mOP+uJ2NIWC4NK60QT0nPwLDHyh1ekT5/w=" crossorigin="anonymous" />

<section class="container">
    <h2>Betalingsdetaljer</h2>
    <form asp-controller="User" asp-action="Betal" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-10">
                <label asp-for="toAccount"></label>
                <input asp-for="toAccount" class="form-control" autocomplete="off">
                <span asp-validation-for="toAccount" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-10">
                <label asp-for="fromAccount"></label>
                <select asp-for="fromAccount" class="form-control"
                        asp-items="@(new SelectList(ViewBag.fromAccountList, "kontoNr", "kontoType"))">
                </select>
                <span asp-validation-for="fromAccount" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <label asp-for="reciever"></label>
                <input asp-for="reciever" class="form-control" autocomplete="off">
                <span asp-validation-for="reciever" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <label asp-for="paymentMessage"></label>
                <input asp-for="paymentMessage" class="form-control" autocomplete="off">
                <span asp-validation-for="paymentMessage" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <label asp-for="amount"></label>
                <p class="flex">
                    <input asp-for="amount" class="form-control" autocomplete="off"> , 
                    <input asp-for="fraction" class="form-control" autocomplete="off" value="00">
                </p>
                <span asp-validation-for="amount" class="text-danger"></span><span asp-validation-for="fraction" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <label asp-for="date"></label>
                    <input asp-for="date" class="form-control" id="datePicker" autocomplete="off"/>
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <label asp-for="kid"></label>
                <input asp-for="kid" class="form-control" autocomplete="off">
                <span asp-validation-for="kid" class="text-danger"></span>
            </div>
        </div>

        <button class="btn btn-default btn-lg">Legg betaling til forfall</button>
        <div asp-validation-summary="All" class="text-danger"></div>
    </form>

    <script type="text/javascript">
        (function () {
            $('#datePicker').datetimepicker({
                dayViewHeaderFormat: 'MMMM',
                minDate: moment.now(),
                format: "DD/MM/YY",
                locale: 'nb'
            });
        })();
    </script>
</section>