
<section class="container">
    <div class="text-center">
        <h2>Finner ikke betalingen du leter etter</h2>
        <a asp-action="Faktura" class="btn">Tilbake</a>
        <a asp-action="Betal" asp-route-id="0" class="btn">Ny faktura</a>
    </div>
</section>