<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment names="Staging,Production">
        <!-- CDN links here see https://docs.asp.net/en/latest/client-side/bootstrap.html -->
    </environment>
</head>
<body>

    <nav>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
    </nav>

<main>
    <p class="message"></p>
    Compiler: <input id="compiler" value="TypeScript" onkeyup="document.getElementById('message').innerText = sayHello()" />
    @RenderBody()
</main>
    
    <footer>
        <p>This is a footer &copy; 2016</p>
    </footer>
    
    <environment names="Development">
    
    </environment>
    <environment names="Staging,Production">

    </environment>
</body>
</html>
