<footer class="footer">
    <p>ACOS BANK &copy; 2016</p>
    <p>Karl johans gate 50</p><p><span class="glyphicon glyphicon-earphone"></span> 810 05 666</p>
    @*<environment names="Development">
        <p>Development mode</p>
    </environment>*@
</footer>
