
﻿<section>
    <header id="headerbilde" alt="Ett bilde av en familie"></header>

    @await Html.PartialAsync("Partials/CurrencyFeed")

    <section class="container">
        @await Component.InvokeAsync("Login")
    </section>
</section>
