@Model List<Person>
@using GroupProject.Models

@{
    Layout = "_Layout";
}


<h1>@ViewBag.Message</h1>



<section>
    <h1>Persons</h1>
    <ul>
        @foreach ( var person in Model ) {
            <li>@person.FirstName</li>
        }
    </ul>
</section>