
<section>
    <section class="bankidWrapper">
        <iframe frameborder="0" border="0" cellspacing="0" height="100%" width="100%" src="bankid" class="box-shadow fadeOut"></iframe>
    </section>

    <header id="headerbilde" alt="Ett bilde av en familie">
        @await Html.PartialAsync("Partials/CurrencyFeed")
    </header>
</section>
<environment names="Development">
    <script src="JS/index.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/JS/index.min.js"></script>
</environment>