

@{
    Layout = "_Layout";
}

<section>
    <header id="headerbilde" alt="Ett bilde av en familie"></header>
    <h1>Personer</h1>
    <ul>
        @foreach ( var person in Model ) {
            <li>@person.PersonNr</li>
        }
    </ul>


    <section class="container">
        @await Component.InvokeAsync("Login")
    </section>
</section>