
<section>
    <section class="bankidWrapper hide">
        <iframe frameborder="0" border="0" cellspacing="0" height="100%" width="100%" src="bankid"></iframe>
    </section>

    <header id="headerbilde" alt="Ett bilde av en familie">
        @await Html.PartialAsync("Partials/CurrencyFeed")
    </header>

    <section class="container">
        @await Component.InvokeAsync("Login")
    </section>
</section>
<script src="js/index.js"></script>